<a href="https://colab.research.google.com/github/AndiZaki/Tugas-Pekan-13_Andi-Muhammad-Zaki-Hauzan-Rabbani_H051211021/blob/main/tugas_pekan_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,5,2):
  print(i, end=' ')

In [ ]:
for i in range(1,5):
  print(i, end=' ')

In [ ]:
awal=int(input('Set Nilai Awal = '))
akhir=int(input('Set Nilai Akhir = '))

count=0
summ=0

print('Bilangan antara %d dan %d' %(awal,akhir))

for i in range(awal, akhir+1):
  print(i, end=' ')
  count=count+1
  summ=summ+i

print('Bilangan di atass ada %d bilangan' %count)
print('Jumlah semua bilangan adalah %d' %summ)

In [ ]:
awal=int(input('Set Nilai Awal = '))
akhir=int(input('Set Nilai Akhir = '))

count=0
kali=1

print('Bilangan antara %d dan %d' %(awal,akhir))

for i in range(awal, akhir+1, 3):
  print(i, end=' ')
  count=count+1
  kali=kali*i

print('Bilangan di atass ada %d bilangan' %count)
print('Hasil kali semua bilangan adalah %d' %kali)

In [ ]:
for i in range(5+1):
  print(i, end=' ')

In [ ]:
for x in range(1,3):
  for y in range (1,3):
    print(x,y,x*y)

In [ ]:
for i in [12,16, 17,24,29]:
  if i % 2 == 1:
    break
  print(i)
print('selesai')

Penjumlahan Matriks

In [ ]:
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]

result = [[X[i][j] + Y[i][j]  for j in range(len(X[0]))] for i in range(len(X))]

for r in result:
   print(r)

In [ ]:
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]

for r in result:
   print(r)

No 1

In [14]:
JumlahBrg = int(input('Jumlah Barang : '))
for A in range (JumlahBrg) :
  print('Barang ke-',A+1)
  HargaBrg = int(input('Harga Barang : '))
  totalharga=0
for B in range(HargaBrg) :
  totalharga =0
TotalHarga=JumlahBrg*HargaBrg
print('Total Pembelian  : ',TotalHarga)

Jumlah Barang : 10
Barang ke- 1
Harga Barang : 100000
Barang ke- 2
Harga Barang : 10000000
Barang ke- 3
Harga Barang : 150000
Barang ke- 4
Harga Barang : 2000000
Barang ke- 5
Harga Barang : 500000
Barang ke- 6
Harga Barang : 1000
Barang ke- 7
Harga Barang : 2500000
Barang ke- 8
Harga Barang : 100000
Barang ke- 9
Harga Barang : 10202020
Barang ke- 10
Harga Barang : 12345
Total Pembelian  :  123450

NO 2

In [ ]:
pilihan = int(input("Masukan Pilihan : 1.Ganjil | 2.Genap : "))

if pilihan == 1:
    for x in range (100):
        if x % 2 == 1:
            print(x)
else:
    for x in range (100):
        if x % 2 == 0:
            print(x)

Masukan Pilihan : 1.Ganjil | 2.Genap : 1
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
pilihan = int(input("Masukan Pilihan : 1.Ganjil | 2.Genap : "))
awal = int(input("Masukan Nilai Awal : "))
akhir = int(input("Masukan Nilai Akhir : "))

if pilihan == 1:
    for x in range (awal,akhir):
        if x % 2 == 1:
            print(x)
else:
    for x in range (awal,akhir):
        if x % 2 == 0:
            print(x)

Masukan Pilihan : 1.Ganjil | 2.Genap : 1
Masukan Nilai Awal : 1
Masukan Nilai Akhir : 10
1
3
5
7
9

No 3

In [ ]:
x = int(input('Masukan Angka : '))
if x%3 == 0 :
  print('Nilai Kelipatan 3 ')
else :
  print('Bukan Nilai Kelipatan 3')

Masukan Angka : 6
Nilai Kelipatan 3

In [ ]:
 i = 3
while i < 100:
  print(i)
  i = i + 3

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

NO 4

In [ ]:
zak = int(input('masukan angka: '))
n = ''
for i in range (1, zak+1):
  n += str(i) + ' '
  print (n)

masukan angka: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

No 5

In [10]:
from prettytable import PrettyTable
tabel_mhs = PrettyTable(["No", "Nama Mahasiswa", "Nilai Tugas", "Nilai Kuis", "Nilai UTS", "Nilai UAS", "Nilai Akhir"])
tabel_mhs.add_row(["1", " ", " ", " ", " ", " ", " "])
tabel_mhs.add_row(["2", " ", " ", " ", " ", " ", " "])
tabel_mhs.add_row(["..", " ", " ", " ", " ", " ", " "])
tabel_mhs.add_row(["N", " ", " ", " ", " ", " ", " "])
print(tabel_mhs)

+----+----------------+-------------+------------+-----------+-----------+-------------+
| No | Nama Mahasiswa | Nilai Tugas | Nilai Kuis | Nilai UTS | Nilai UAS | Nilai Akhir |
+----+----------------+-------------+------------+-----------+-----------+-------------+
| 1  |                |             |            |           |           |             |
| 2  |                |             |            |           |           |             |
| .. |                |             |            |           |           |             |
| N  |                |             |            |           |           |             |
+----+----------------+-------------+------------+-----------+-----------+-------------+

In [ ]:
data = []
while True:
    print("\nApa yang ingin dilakukan?")
    print("1. Tambah data")
    print("2. Tampilkan data")
    print("3. Exit")
    pilihan = int(input("Pilihan: "))
    if pilihan == 1:
        print ("\nmasukkan data dengan urutan dan format sebagai berikut :")
        print ("-nama panjang mhs, N.Tugas, N.Kuis, N.UTS, N.UAS-\n")
        print ("*****")
        print ("Bobot nilai :\n N.Tugas(30%) \n N.Kuis(20%) \n N.UTS(25%) \n N.UAS(25%) ")
        print ("*****")
        datamhs = input("Masukkan data: \n")
        datamhs = datamhs.split(",")
        data.append(datamhs)
    elif pilihan == 2:
        print("---------------------------------------------------------------------------------------")
        print("No.      Nama Mhs            N.Tugas    N.Kuis    N.UTS    N.UAS    NilaiAkhir")
        print("---------------------------------------------------------------------------------------")
        count=0        
        for i in (data):
            count+=1
            NilaiAkhir = (((int(i[1]))*30 + int(i[2])*20 + (int(i[3]))*25 + int(i[4])*25))/100
            print (str(count)+".   ", "       ".join(i),"   ", NilaiAkhir)
            print ()
            print ("*Data yang ditampilkan sesuai urutan")
    elif pilihan == 3:
        print("\nTERIMA KASIH!")
    else :
        print ("-Pilihan Tidak Valid-")

Apa yang ingin dilakukan?
1. Tambah data
2. Tampilkan data
3. Exit

masukkan data dengan urutan dan format sebagai berikut :
-nama panjang mhs, N.Tugas, N.Kuis, N.UTS, N.UAS-

*****
Bobot nilai :
 N.Tugas(30%)
 N.Kuis(20%)
 N.UTS(25%)
 N.UAS(25%)
*****

Apa yang ingin dilakukan?
1. Tambah data
2. Tampilkan data
3. Exit
---------------------------------------------------------------------------------------
No.      Nama Mhs            N.Tugas    N.Kuis    N.UTS    N.UAS    NilaiAkhir
---------------------------------------------------------------------------------------
1.    zaki       98       90       89       97       90     93.9

*Data yang ditampilkan sesuai urutan

Apa yang ingin dilakukan?
1. Tambah data
2. Tampilkan data
3. Exit

TERIMA KASIH!

Apa yang ingin dilakukan?
1. Tambah data
2. Tampilkan data
3. Exit